In [3]:
import pandas as pd
import numpy as np

In [4]:
income_ds = pd.read_csv('/content/Income Dataset (50k).csv')

In [5]:
income_ds.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [6]:
income_ds.shape

(43957, 15)

In [7]:
income_ds.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

In [8]:
income_subset = income_ds[income_ds['workclass'].notnull()]
df = income_subset[income_subset['occupation'].notnull()]
df.shape

(41451, 15)

In [9]:
df.isnull().sum()

age                  0
workclass            0
fnlwgt               0
education            0
educational-num      0
marital-status       0
occupation           0
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     724
income_>50K          0
dtype: int64

In [10]:
df = df.fillna(df['native-country'].value_counts().index[0])
df.shape

(41451, 15)

In [11]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income_>50K        0
dtype: int64

In [12]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43952,52,Private,68982,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
43953,19,Private,116562,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
43954,30,Private,197947,Some-college,10,Divorced,Sales,Not-in-family,White,Male,0,0,58,United-States,0
43955,46,Private,97883,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,35,United-States,0
43956,30,Private,375827,HS-grad,9,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,0

In [13]:
print((df['capital-loss'] == 0).sum())
print((df['capital-gain'] == 0).sum())

39471
37979

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41451 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              41451 non-null  int64
 1   workclass        41451 non-null  object
 2   fnlwgt           41451 non-null  int64
 3   education        41451 non-null  object
 4   educational-num  41451 non-null  int64
 5   marital-status   41451 non-null  object
 6   occupation       41451 non-null  object
 7   relationship     41451 non-null  object
 8   race             41451 non-null  object
 9   gender           41451 non-null  object
 10  capital-gain     41451 non-null  int64
 11  capital-loss     41451 non-null  int64
 12  hours-per-week   41451 non-null  int64
 13  native-country   41451 non-null  object
 14  income_>50K      41451 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.1+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder

categorical_features = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "gender", "native-country"]

for i in categorical_features:
    le = LabelEncoder()
    df[i] = le.fit_transform(df[i].values)

In [16]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,2,366425,10,16,0,3,1,4,1,99999,0,60,38,1
1,17,2,244602,2,8,4,7,3,4,1,0,0,15,38,0
2,31,2,174201,9,13,2,3,0,4,1,0,0,40,38,1
3,58,5,110199,5,4,2,13,0,4,1,0,0,40,38,0
4,25,5,149248,15,10,4,7,1,2,1,0,0,40,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43952,52,2,68982,9,13,2,3,0,4,1,0,0,50,38,1
43953,19,2,116562,11,9,4,7,3,4,0,0,0,40,38,0
43954,30,2,197947,15,10,0,11,1,4,1,0,0,58,38,0
43955,46,2,97883,9,13,4,11,1,4,0,0,0,35,38,0
43956,30,2,375827,11,9,4,5,2,4,1,0,0,40,38,0

In [18]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

scaler = MinMaxScaler()

scaler.fit(X)

X_scaled = scaler.transform(X)

X_scaled

array([[0.68493151, 0.33333333, 0.23896749, ..., 0.        , 0.60204082,
        0.95      ],
       [0.        , 0.33333333, 0.15648233, ..., 0.        , 0.14285714,
        0.95      ],
       [0.19178082, 0.33333333, 0.1088145 , ..., 0.        , 0.39795918,
        0.95      ],
       ...,
       [0.17808219, 0.33333333, 0.12489268, ..., 0.        , 0.58163265,
        0.95      ],
       [0.39726027, 0.33333333, 0.05714032, ..., 0.        , 0.34693878,
        0.95      ],
       [0.17808219, 0.33333333, 0.24533349, ..., 0.        , 0.39795918,
        0.95      ]])